// COLORS
$body-background: #ffffff;
$color-primary: #d4313c;
$color-primary-dark: #c22732;
$color-primary-light: #0b2639;
$color-secondary: #52aede;
$color-secondary-dark: #1589c6;
$light-grey: #d1d1d1;
$black: rgba(0, 0, 0, 0.85);
$white: #fefefe;

//FONT FAMILY
$title-font: "StMarieW01-Light", sans-serif;
$body-font: "StMarieW01-Light", sans-serif;
$body-alt: "StMarieW01-Light", sans-serif;
$bold: 700;

// FONT-SIZES
$basic-font-size: 2.5rem;
$mobile-font-size: 1.5rem;

$big-title: 4.8rem;
$title-font-size: 4rem;
$mobile-title-font-size: 3rem;
$small-title: 2.5rem;
$big-text: 2rem;

$section-width: 70%;
$laptop-container: 80%;
